NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCVlvpPyLqrtGf6kHRl1RgFY9Zhvs0L6vQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tuyensinh10-99940.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=tuyensinh10-99940
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tuyensinh10-99940.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=381880275914
NEXT_PUBLIC_FIREBASE_APP_ID=1:381880275914:web:efb9bd4f59aaa01cc5b533
